body{
    margin: 0px;
    padding: 0px;
    background-color: #e0ece4;
    display: grid;
    grid-template-areas: "header header header" "content content aside" "footer footer footer";
    grid-template-columns: 20vh auto 40vh;
    grid-template-rows: 20vh 120vh 35vh;
}

body header{
    background-color: #ff4b5c;
    grid-area: header;
    display: grid;
    grid-template-areas: "title city" "menu menu";
    place-items: center;
}

body header h1{
    grid-area: title;
}

body header h3{
    grid-area: city;
}

body header nav{
    grid-area: menu;
}

body header nav ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30vh;
}

body article{
    background-color: #e0ece4;
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

body article section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

body aside{
    background-color: #056674;
    grid-area: aside;
}

body footer{
    background-color: #66bfbf;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

body footer ul{
    list-style-type: none;
    display: grid;

}

body footer section{
    display:grid;
    grid-template-areas: "links" "contact";
}
body footer section a{
    grid-area: links;
}

body footer section button{
    grid-area: contact;
}

@media screen and (max-width:768px){
    body{
        grid-template-areas: "header" "content" "aside" "footer";
        grid-template-columns: auto;
        grid-template-rows: 40vh 140vh 30vh 50vh;
    }
}

@media screen and (max-width:992px){
    
}

@media screen and (max-width:1200px){
    
}