body{
    margin: 0px;
    background-color: #e0ece4;
    display: grid;
    grid-template-areas: "header header header" "left content right" "footer footer footer";
    grid-template-columns: 20vh auto 20vh;
    grid-template-rows: 20vh 80vh 20vh;
}

body header{
    background-color: #ff4b5c;
    grid-area: header;
    display: grid;
    grid-template-areas: "title city" "menu menu";
    place-items: center;
}

body header h1{
    grid-area: title;
}

body header h3{
    grid-area: city;
}

body header nav{
    grid-area: menu;
}

body header nav ul{
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30vh;
}

body article{
    background-color: #e0ece4;
    grid-area: content;
}

body aside{
    background-color: #056674;
}
aside.left{
    grid-area: left;
}

aside.right{
    grid-area: right;
}
body footer{
    background-color: #66bfbf;
    grid-area: footer;
}